<div class="container">
  <h1 class="display-3">{{userName}}'s Recipes</h1>
  <br>
  <div id="alerts"></div>

  {{#if isThisUser}}
  <form id="form">
    <div class="form-group">
      <label>Add recipe</label>
      <div class="input-group">
        <input type="input" id="url-input" class="form-control" placeholder="Enter website" autofocus>
        <div class="input-group-append">
          <input type="submit" class="btn btn-primary">
        </div>
      </div>
    </div>
  </form>
  {{/if}}
  
  <div>

    <div class="card-columns">
      {{#each recipes}}
      <div class="card">
        <img class="card-img-top" src="{{img}}" data-id="{{id}}">
        <div class="card-body">
          <h5 class="card-title">{{title}}</h5>
          <a href="{{url}}" target="_blank" class="card-link">Website</a>
        </div>
      </div>
      {{/each}}
    </div>

  </div>

</div>

{{!-- modal --}}
<div class="modal fade" id="recipe-modal" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h6>Ingredients</h6>
        <ul id="ingredients"></ul>
        <h6>Directions</h6>
        <ol id="directions"></ol>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


{{#section 'script'}}
  <script type="text/javascript">
    let failAlert = $(
      `<div class="alert alert-warning alert-dismissible fade show" role="alert">
        Failed to add recipe.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>`);

    $(document).on('submit', '#form', (event) => {
      event.preventDefault();
      let url = $('#url-input').val();
      $.ajax({
        url: '/api/recipe',
        method: 'POST',
        contentType: 'application/json',
        data: JSON.stringify({url})
      }).then(res => {
        // location.reload();
      }).fail((jqXHR, textStatus) => {
        $('#alerts').append(failAlert);
        setTimeout(() => $('.alert').alert('close'), 3000);
      });
      
      $('#url-input').val('');
    });

    $(document).on('click', '.card-img-top', function(event) {
      let id = $(this).data('id');
      $.ajax({
        url: '/api/recipe/' + id,
        method: 'GET',
        contentType: 'application/json',
      }).then(res => {
        $('#modal-title').text(res.title);
        let ingredients = $('#ingredients');
        let directions = $('#directions');

        res.ingredients.forEach(step => {
          ingredients.append($(`<li>${step}</li>`));
        });
        
        res.directions.forEach(step => {
          directions.append($(`<li>${step}</li>`));
        });

        $('#recipe-modal').modal('toggle');
      });
    });
  </script>
{{/section}}