<div class="container">
  <br><br><br><br>
  
  {{#if isThisUser}}
  <form id="form">
    <div class="form-group">
      <label>Add recipe</label>
      <div class="input-group">
        <input type="input" id="url-input" class="form-control" placeholder="Enter website">
        <div class="input-group-append">
          <input type="submit" class="btn btn-primary">
        </div>
      </div>
      {{!-- <small class="form-text text-muted">We'll never share your email with anyone else.</small> --}}
    </div>
  </form>
  {{/if}}
  
  <div>

    <div class="card-columns">
      {{#each recipes}}
      <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="{{img}}" data-id="{{id}}">
        <div class="card-body">
          <h5 class="card-title">{{title}}</h5>
          {{!-- <h6 class="card-subtitle mb-2 text-muted"></h6> --}}
          {{!-- <p class="card-text">{{ingredients}}</p> --}}
          <a href="{{url}}" target="_blank" class="card-link">Website</a>
        </div>
      </div>
      {{/each}}
    </div>

  </div>

</div>


{{#section 'script'}}
  <script type="text/javascript">

    $(document).on('submit', '#form', (event) => {
      event.preventDefault();
      let url = $('#url-input').val();
      $.ajax({
        url: '/api/recipe',
        method: 'POST',
        contentType: 'application/json',
        data: JSON.stringify({url})
      }).then(res => {
        // console.log(res);
        location.reload();
      });
      
      $('#url-input').val('');
    });

    $(document).on('click', '.card-img-top', function(event) {
      let id = $(this).data('id');
      $.ajax({
        url: '/api/recipe/' + id,
        method: 'GET',
        contentType: 'application/json',
      }).then(res => {
        console.log(res);
      });
    });
  </script>
{{/section}}